@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quattrocento&display=swap');

* {
    background-color: #B8B8B8;
    position: static;

    
}
.Header_title{
    font-family: 'Permanent Marker', cursive;
}

.image-title {
    /* margin-top: 30rem; */
    background-image:url(https://images.unsplash.com/photo-1469571486292-0ba58a3f068b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-repeat: space;
    background-size: cover;
    height: 900px;
    width: 100%;
    color: rgb(216,216,216); 
    position: absolute;
    top: 0;
    left: 0;
}

.container {
     margin-bottom: 25rem;
     display: flex;
     flex-wrap: wrap;
     font-family: 'Quattrocento', serif;
    }
